node_modules
.pnpm-store
bun.lockb
/types/tsdoc-metadata.json

# Output
.output
.vercel
/.svelte-kit
/build
/dist

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
vite.*.{ts,js,json}.timestamp-*
bun.lockb
